<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Demo App</title>

	<link href="Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="Scripts/modernizr-2.6.2.js"></script>

</head>
<body>
<div>
	@RenderBody()
</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
	
	<script src="Scripts/jquery-2.2.0.min.js"></script>
	<script src="Scripts/angular.js"></script>
	@*<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.7/smart-table.js"></script>*@
	<script src="Scripts/angular-route.js"></script>
	<script src="Scripts/bootstrap.min.js"></script>
	<script src="app/StudentRoute.js"></script>
	<script src="Controllers/StudentController.js"></script>
	<script src="~/Service/StudentService.js"></script>
</body>
</html>
